@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  body {
    @apply bg-neutral-content;
  }

  mark {
    @apply bg-accent text-accent-content;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }

  .drawer-overlay {
    @apply blur-md;
  }

  #sidemenu-drawer .drawer-overlay{
    @apply !bg-transparent blur-none;
  }

  div::-webkit-scrollbar-track {
    @apply border-none bg-neutral-content;
  }
  
  div::-webkit-scrollbar {
    @apply w-1 h-1 bg-white;
  }
  
  div::-webkit-scrollbar-thumb {
    @apply bg-primary;
  }
  
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}
